body {
    font-family: "Helvetica", sans-serif;
    background:#f8e9ae;
    margin: 0;
    padding: 0; 
  }

  #wrapper {
    width: 70%;
    font-style: inherit;
    margin: auto;
    margin-bottom: 2%;
    background: #FFFACD;
    overflow: hidden;
    padding: 14px;
    border: 1px solid #CD853F;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a, .dropdown_btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  .sidenav a:hover, .dropdown_btn:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: relative;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .dropdown_container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }

  .dropdown_container a {
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
  }

  #sub-menu {
    font-size: 1em; 
    margin-left: 20px;
  }
  
  #inner-table {
    display: table;
    margin: auto;
  }
  table {
    table-layout: fixed;
    border: 1px solid #d4d4d4;
    border-collapse: collapse;
    text-align: center;
    overflow-wrap: break-word;
  }
  
  th, td {
    padding: 5px;
    font-size: 14px;
    white-space: normal;
    word-wrap:break-word;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
} 

.line_div {
    border-top: solid 3px transparent;
    /* border-left: solid 315px #a52a2a; */
    border-bottom: solid 3px #a52a2a;
    /* border-right: solid 315px transparent; */
    margin: 15px 5px 15px 0px;
  }

  h1 {
    font-weight: bold;
    margin-bottom: 5px;
    font-family: Georgia, serif;
  }

  h2 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 2px;
      font-family: Georgia, serif;
  }
 
  h3 {
    color:#580000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px;
    font-family: Georgia, serif;
  }
  
  hr {
    margin: 2px;
  }

  p {
    font-size: 16px;
    font-family: Georgia, serif;
    margin-left: 5px;
    white-space: pre-wrap;
  }

  .menu-btn {
    font-size:30px;
    cursor:pointer;
    margin-left: 2%; 
    padding: 5px;
  }

@media (pointer:coarse) {
  #wrapper {
    width: 95%;
    font-style: inherit;
    margin: auto;
    margin-bottom: 2em;
    background: #FFFACD;
    overflow: hidden;
    padding: 14px;
    border: 1px solid #CD853F;
  }
    
  .sidenav a, .dropdown_btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 5em;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: center;
    outline: none;
  }

  #sub-menu {
    font-size: 3em; 
    margin-left: 8em;
    text-align: left;
  }

  #sub-menu-link {
    margin-left: 9.5em;
  }
  .dropdown_container {
    display: none;
    background-color: #262626;
  }
  
  .dropdown_container a {
    font-size: 3em;
    text-align: left;
    margin-left: 8em;
    }

  .sidenav .closebtn {
      position: relative;
      top: 0;
      font-size: 6em;
  }
    
  #inner-table {
    display: table;
    margin: auto;

  }
  table {
    table-layout: fixed;
    border: 1px solid #d4d4d4;
    border-collapse: collapse;
    text-align: center;
    overflow-wrap: break-word;
  }

  th, td {
    padding: 5px;
    font-size: 1em;
    white-space: normal;
    word-wrap:break-word;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
  } 

  .menu-btn {
      font-size:2.5em;
      margin-left: 2%; 
      padding: 5px;
  }

  h1 {
    font-family: Georgia, serif;
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 5px;
  }

  h2 {
    color:#580000;
    font-family: Georgia, serif;
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 2px;
  }

  h3 {
      color:#580000;
      font-size: 3em;
      font-weight: bold;
      margin-bottom: 4px;
      margin-left: 5px;
      font-family: Georgia, serif;
  }

  hr {
      margin: 2px;
  }
  
  p {
    font-size: 2.2em;
    font-family: Georgia, serif;
    white-space: pre-wrap;
    margin-left: 5px;
    line-height: 1.5em;
}
  
}